<!-- Because Django processes template tags, not normal HTML.
This tag tells Django: “I want to use static files inside this HTML.” -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Hello Learner...</h1>

    <!-- Load image from static folder -->
    <img src="{% static 'logo.jpg' %}" width="500">

    <center>
        <!-- Form for user input -->
        <form action="" method="post">
            {% csrf_token %}  <!-- Security token (required for POST) -->

            <label>Name</label>
            <input type="text" name="name" value="{{student.name}}">

            <br><br>

            <label>Age</label>
            <input type="text" name="age" value="{{student.age}}">

            <br><br>

            <label>City</label>
            <input type="text" name="city" value="{{student.city}}">

            <br><br>

            <input type="submit">
        </form>
    </center>

    <!-- Show submitted data only after POST -->
    {% if student %}
        <h2>You submitted:</h2>
        <p>Name: {{ student.name }}</p>
        <p>Age: {{ student.age }}</p>
        <p>City: {{ student.city }}</p>
    {% endif %}
</body>
</html>