{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock title %}


<!-- {% block 'title' %}
Home
{% endblock %} -->

{% block 'body' %}
<h1>Welcome To HOME Page</h1>
{% endblock %}






<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/BOOK_AUTHOR_APP/css/style.css">
</head>
<body>
    <a href="{% url 'about' %}"><b>About</b></a> |
    <a href="{% url 'home' %}"><b>Home</b></a> |
    <a href="{% url 'contact' %}"><b>Contact</b></a> 

    <br>
    <h1>Welcome To HOME Page</h1>
</body>
</html> -->



