{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css1/styles.css' %}">
</head>
<body>
    <div class="container">
        <b><h1>Registration Form</h1><hr></b>
        <form method="POST">
        {% csrf_token %}
            <label for="name">Name</label><br>
            <input type="text" id="name" name="name" placeholder="Enter Name" required><br><br>

            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" placeholder="Enter Email" required><br><br>

            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" placeholder="Enter Password" required><br><br>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>