<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>

    <script>
// This function runs automatically when page is fully loaded
        $(document).ready(function(){
            // alert("ok")
            $("#upbtn").hide()
            loadData()      // Load student data when page opens
        })



// Function to load student data from database using AJAX GET
        const loadData = () => {
            $.get("loaddata", {}, function(rt){
                // alert(rt.data)

                var rows = ""           // Empty string to store table rows

                // Loop through each student record
                rt.data.map(ele=>{
                    rows += 
                        "<tr>" +
                            "<td>" + ele.id + "</td>" +
                            "<td>" + ele.username + "</td>" +
                            "<td>" + ele.email + "</td>" +
                            "<td>" + ele.age + "</td>" +
                            // Delete button
                            "<td>" +
                                "<button onclick='deletedata(" + ele.id + ")' class='btn btn-danger btn-sm'>" +
                                    "Delete" +
                                "</button>" +
                            "</td>" +

                            // Update button
                            "<td>" +
                                "<button onclick='editdata(" + ele.id + ", `" + ele.username + "`, `" + ele.email + "`, " + ele.age + ")' class='btn btn-primary btn-sm'>" +
                                    "Update" +
                                "</button>" +
                            "</td>" +
                        "</tr>"
                })

                // alert(rows)

                // Insert generated rows into table body
                $("#tdata").html(rows)
            })
        }

        


// Function to delete student data using AJAX GET
        const deletedata = (sid)=>
        {
            $.get("deletedata",{sid},function(rt){
                alert(rt)
                loadData()
            })
        }





        const editdata = (sid) => {
            $.get("databyid", {sid}, function(rt){
                // alert(rt.data[0].id)
                $("#id").val(rt.data[0].id)
                $("#uname").val(rt.data[0].username)
                $("#email").val(rt.data[0].email)
                $("#age").val(rt.data[0].age)

                $("#upbtn").show()
                $("#smbtn").hide()
            })
        }





// Function to add new student data using AJAX POST
        const add_data = () => {
            // Get input values
            var uname = $("#uname").val()
            var email = $("#email").val()
            var age = $("#age").val()

            // Get CSRF token (required for Django POST request)
            var csrfmiddlewaretoken=document.getElementsByName("csrfmiddlewaretoken")[0].value
            // alert(csrfmiddlewaretoken)

            // Send data to Django using POST request
            $.post("add_data", {csrfmiddlewaretoken,uname, email, age}, function(rt) {
                // Show success message
                alert(rt)
                // Clear input fields after successful insert
                $("#uname").val("")
                $("#email").val("")
                $("#age").val("")

                // Reload table data
                loadData()
            })
        
        }
        

// Function to add new student data using AJAX POST
        const updatedata = () => {
            // Get input values
            var id = $("#id").val()
            var uname = $("#uname").val()
            var email = $("#email").val()
            var age = $("#age").val()

            // Get CSRF token (required for Django POST request)
            var csrfmiddlewaretoken=document.getElementsByName("csrfmiddlewaretoken")[0].value
            // alert(csrfmiddlewaretoken)

            // Send data to Django using POST request
            $.post("updatedata", {csrfmiddlewaretoken,id,uname, email, age}, function(rt) {
                // Show success message
                alert(rt)
                // Clear input fields after successful insert
                $("#id").val("")
                $("#uname").val("")
                $("#email").val("")
                $("#age").val("")

                // Reload table data
                loadData()

                $("#upbtn").hide()
                $("#smbtn").show()
            })


        }



        const searchdata = (value) => {
        $.get("searchdata", {value}, function(rt){
                // alert(rt.data)

                var rows = ""           // Empty string to store table rows

                // Loop through each student record
                rt.data.map(ele=>{
                    rows += 
                        "<tr>" +
                            "<td>" + ele.id + "</td>" +
                            "<td>" + ele.username + "</td>" +
                            "<td>" + ele.email + "</td>" +
                            "<td>" + ele.age + "</td>" +
                            // Delete button
                            "<td>" +
                                "<button onclick='deletedata(" + ele.id + ")' class='btn btn-danger btn-sm'>" +
                                    "Delete" +
                                "</button>" +
                            "</td>" +

                            // Update button
                            "<td>" +
                                "<button onclick='editdata(" + ele.id + ", `" + ele.username + "`, `" + ele.email + "`, " + ele.age + ")' class='btn btn-primary btn-sm'>" +
                                    "Update" +
                                "</button>" +
                            "</td>" +
                        "</tr>"
                })

                // alert(rows)

                // Insert generated rows into table body
                $("#tdata").html(rows)
            })
        }
    </script>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-5 card p-3 mt-3">
                <h2>Student Registration</h2>
                <hr>
                {% csrf_token %}

                <input type="hidden" id="id">

                <div class="formgroup">
                    <label for="uname">User Name</label>
                    <input type="text" name="uname" id="uname" class="form-control">
                </div>
                <div class="formgroup">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control">
                </div>
                <div class="formgroup">
                    <label for="age">Age</label>
                    <input type="number" name="age" id="age" class="form-control">
                </div>
                <br>
                <button class="btn btn-success" id="smbtn" onclick="add_data()">Submit</button>
                <br>
                <button class="btn btn-success" id="upbtn" onclick="updatedata()">Update</button>
            </div>

            <div class="col-1"></div>


            <div class="col-6 card p-3 mt-3">

                <h2>Student Details</h2>
                <hr>
                <input type="text" id="search" class="form-control" placeholder="Search..." onkeyup="searchdata(value)">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Age</th>
                            <th colspan="2">Action</th>
                        </tr>
                    </thead>
                <tbody id="tdata"></tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>